*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    overflow-x: hidden;
}

/*NAV BAR*/
.nav {
    background-color: transparent;
    padding: 7px 0px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 1;
    transition: 0.3s;
}

.nav .bar a {
     float: right;
    display: inline-block;
    color: #fff;
    border: 3px solid transparent;
    font-size: 1.2vw;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5;
    padding: 1vw 1vw;
    text-decoration: none;
    margin-right: 0.5vw;
    position: relative;
    opacity: 0.8;
    transition: 0.4s;
}

.nav h1{
    background: -webkit-linear-gradient(#e3cc64 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7vw; 
    float: left;
    padding-top: 0.5vw;
    border: 3px solid transparent;
    transition: 0.5s;
    letter-spacing: 0.2vw;
}

.nav:hover{
    background-color: #401515;
}

.nav a:hover {
    color: #e3cc64;
    border-bottom-color: #e3cc64;
    opacity: 1;
}

.nav h1:hover{
    border-bottom-color: #e3cc64;
}

.nav img {
	height:4.3vw;
	width:4.3vw;
	float:left;
	padding:0.5vw;
	padding-top:0.7vw;
	margin:auto;
	margin-left:1vw;
	transition:0.3s;
	position:relative;
}

/*HOME*/
.home{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.home::before {
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/TO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -2;
}

/*ABOUT*/
.about{
    background-color: rgb(0,0,0,0.2);
    width: 100%;
    height: 100%;
}

.about::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.about .info{
    padding: 7.5vw;
    padding-top: 15.5vw;
}

.about .info p{
    font-family: 'Fondamento', cursive;
    color: #222;
    font-size: 2vw;
    text-align: center;
}

/*TEAM*/
.team{
    background-color: #011133;
    width: 100%;
}

.team .border{
    border: solid transparent 3px;
    padding: 2vw;
    margin-left: 5vw;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
    transition: 0.4s
}

.team .border img{
    height: 11vw;
    width: 9.5vw;
    border: #000 solid 3px;
    border-radius: 50%;
    filter: grayscale(75%);
}

.team .border img::before{
    background-color: rgba(0,0,0,0.4);
}

.team .border:hover{
    background-color: #fff;
}

.team .border:hover> img{
    filter: grayscale(0%);
}

/*TRAILER*/
.trailer{
    background-color: #6678de;
    width: 100%;
}

.trailer iframe{
    height: 40vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/*FOOTER*/
.footer{
    background-color: #222;
    width: 100%;
}

.footer h1{
    color: #ffd700;
    font-family: 'Bebas Neue', cursive;
    font-size: 7.5vw;
    text-align: center;
    padding-top: 7vw; 
}

.footer h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    padding-top: 0.5vw;
    text-align: center;
    letter-spacing: 0.4;
}

.footer p{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.4;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 0.3vw;
}